{{ define "main" }}
  <div role="main" class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {{ with .Content }}
          <div class="intro-text">
            {{.}}
          </div>
        {{ end }}
        
        <div class="badges-intro">
          <a href="/info/supplies"><img src="/img/supplies-badge.png" alt="" /></a>
          <a href="/info/schedule"><img src="/img/schedule-badge.png" alt="" /></a>  
        </div>
        
        <div style="text-align:center;"><h2>Summary</h2></div>
        
        <div class="posts-list">
          {{ range where .Site.RegularPages "Section" "summary" }}
          
            <article class="summary-preview">
              <a href="{{ .Permalink }}">
                <h2 class="post-title">{{ .Title }}</h2>
              </a>
            </article>
          {{ end }}
        </div>

        <div style="text-align:center;"><h2>Activities</h2></div>
        <div class="posts-list">
          
          {{ $pag := .Paginate (where .Site.RegularPages "Type" "post") }}
          {{ range $pag.Pages }}
            <article class="post-preview">
              <a href="{{ .Permalink }}">
                <h2 class="post-title">{{ .Title }}</h2>
              </a>
            </article>
          {{ end }}
        </div>

        {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
          <ul class="pager main-pager">
            {{ if .Paginator.HasPrev }}
              <li class="previous">
                <a href="{{ .URL }}page/{{ .Paginator.Prev.PageNumber }}">&larr; {{ i18n "newerPosts" }}</a>
              </li>
            {{ end }}
            {{ if .Paginator.HasNext }}
              <li class="next">
                <a href="{{ .URL }}page/{{ .Paginator.Next.PageNumber }}">{{ i18n "olderPosts" }} &rarr;</a>
              </li>
            {{ end }}
          </ul>
        {{ end }}
      </div>
    </div>
    <div class="itchio-wrapper">
      <iframe frameborder="0" src="https://itch.io/embed-upload/2669808?color=333333" allowfullscreen="" width="816" height="644"><a href="https://myubi.itch.io/lcc-camp">Play LCC Camp Intro! on itch.io</a></iframe>
    </div>
  </div>
{{ end }}

